# VectorTest

{% set vec = compdoc.module('vec') -%}
{% set ul = compdoc.formatter('ul') -%}

---

Test module description!

# Classes

{{ ul.format_class(vec.Vec2) }}

Comes with a helpful function for vector magnitude:

{{ ul.format_function(vec.Vec2.norm) }}

Other classes for higher-dimensional vectors:

{{ ul.format_class(vec.Vec3) }}

{{ ul.format_class(vec.VecN) }}

The n-dimensional implementation comes with classmethod constructors for using iterables of floats 
to pack a VecN:

{{ ul.format_function(vec.VecN.from_list) }}

<br />

{{ ul.format_function(vec.VecN.from_components) }}

# Standalone functions

We supply just one function which flattens a list of arbitrary N-dimensional vectors into a single,
concatenated, N-dimensional vector.

{{ ul.format_function(vec.flatten_vecs) }}

# Acknowledgements

Author:

- Firstname Lastname